<style>
  body {
    background-color: white;
  }

  select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid green;
    color: green;
    background-color: white;
    width: 200px;
  }
</style>
